body
{
    color: #050505;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 22px;
}
table.center {
    margin-left:auto;
    margin-right:auto;
}
body.content {
    max-width: 500px;
    margin-left:auto;
    margin-right:auto;

}
p.center {
    margin-left:auto;
    margin-right:auto;
}

h2
{
    font-size: 36px;
    font-weight: 400;
    color: #C0D06F;
    margin: 20px;
}

.index2{
    width:705px;
    height:317px;
    margin-left: 100px;
}

.index1{
    width:705px;
    height:317px;
    margin-left: auto;
    margin-right: auto;
}
.index3{
    margin-left: 200px;
    width:310px;
    height:163px;
}

#watch
{
    float: right;
    margin-top: 5px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 60px;
    color:#050505;
    margin-right: 10px;
}

a{
    color:#050505;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}

.bottom
{
    margin-bottom: 60px;
}